.background-color{
  background-color:darkgray;
  padding:300px;
}

.header{
text-align:center;
color:blueviolet;
}

.projects{
color:rgb(14, 14, 202);
}

.about-me{
color:purple;
}

.about-me h2{
  color:aqua;
}

.about-me h3{
  color:crimson
}

.name{
  color:black;
  font-style: italic;
}