.background-color{
  background-color:darkgray;
  padding:300px;
}
.header{
text-align:center;
color:blueviolet;
}

.projects{
color:blue;
}

.about-me{
color:brown;
}

.name{
  color:black;
  font-style: italic;
}