.background-color{
  background-color:darkgray;
  padding:300px;
}
.header{
text-align:center;
color:blueviolet;
}

.projects{
color:rgb(14, 14, 202);
}

.about-me{
color:rgb(173, 33, 33);
}

.name{
  color:black;
  font-style: italic;
}